<!-- start custom head snippets -->

<!-- Open Graph tags -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.url }}{{ site.logo }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">


<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
