{% capture logo_path %}{{ site.logo }}{% endcapture %}

{% if page.url contains '/dnavault/' %}
  {% assign masthead_title = "DNAVault" %}
  {% assign masthead_url = "/dnavault/" %}
  {% assign masthead_nav = site.data.navigation.dnavault %}
{% else %}
  {% assign masthead_title = site.masthead_title | default: site.title %}
  {% assign masthead_url = "/" %}
  {% assign masthead_nav = site.data.navigation.main %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ masthead_url | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ masthead_title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ masthead_url | relative_url }}">
          {{ masthead_title }}
        </a>
        <ul class="visible-links">
          {%- for link in masthead_nav -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
